*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'rubik', sans-serif;
}

.section-testemonials{
   display: grid;
   grid-template-columns: 55fr 45fr; /**usamos como se fosse porcentagem. a coluna esqueda ficou maior que a direita**/
   align-items: center;/**colocamos essa proprieda, pois ao diminuir a tela, os espaços das imagens da galeria aumentavam**/
    background-color: #fdf2e9;
   
}

.testemonial-container{
    padding: 9.6rem;
}

.testemonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testemonials img{
    width: 6.4rem;
    border-radius: 50%;
}
.testemonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testemonial-name{
    font-size: 1.6rem;
    color: #6f5f6f;
}
/****gallery****/

.gallery-item img{
    display: block;
    width: 100%;
    transition: all 0.5s;
   
}

.gallery-item{
    overflow: hidden;/**a imagem estava passando o container (gallery-item) após faser o transfor scale**/
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    
}

.gallery-item img:hover{
    transform: scale(1.1);
}